<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    defaultTestSuite="functional"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>

        <!-- Database URL for acceptance and integration tests -->
        <!--
        <env name="DATABASE_TEST_URL" value="mysql://docketapp:password@localhost/cake_test" />
        -->
        <env name="SECURITY_SALT" value="a-random-value-that-you-cannot-guess" />

        <!-- no persistent cache in tests -->
        <env name="CACHE_DEFAULT_URL" value="array://" />
        <env name="CACHE_CAKECORE_URL" value="array://" />
        <env name="CACHE_CAKEMODEL_URL" value="array://" />
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="functional">
            <directory>tests/TestCase/</directory>
            <directory>plugins/Calendar/tests/TestCase/</directory>
            <directory>plugins/Feeds/tests/TestCase/</directory>
            <directory>plugins/Tasks/tests/TestCase/</directory>
        </testsuite>

        <testsuite name="acceptance">
            <directory>tests/Acceptance/</directory>
        </testsuite>

        <testsuite name="calendar">
            <directory>plugins/Calendar/tests/TestCase/</directory>
        </testsuite>

        <testsuite name="feeds">
            <directory>plugins/Feeds/tests/TestCase/</directory>
        </testsuite>

        <testsuite name="tasks">
            <directory>plugins/Tasks/tests/TestCase/</directory>
        </testsuite>

    </testsuites>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
        <bootstrap class="Symfony\Component\Panther\ServerExtension"/>
    </extensions>

    <!-- Ignore vendor tests in code coverage reports -->
    <source>
      <include>
        <directory suffix=".php">src/</directory>
        <directory suffix=".php">plugins/*/src/</directory>
      </include>
      <exclude>
        <file>src/Console/Installer.php</file>
      </exclude>
    </source>
</phpunit>
