
$border-radius: 3px;
$border-radius-large: 6px;

$shadow-inset: inset 0 2px 0 rgba(18, 28, 45, 0.03);
$shadow-button: -1px 1px 2px 0 rgba(18, 28, 45, 0.2);
$shadow-low: 0 2px 8px 0 rgba(18, 28, 45, 0.1);
$shadow-med: 0 4px 16px 0 rgba(18, 28, 45, 0.2);
$shadow-high: 0 16px 24px 0 rgba(18, 28, 45, 0.2);
$shadow-drag: 0 0 0 1px rgba(63, 63, 68, 0.05), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);

$font-size-xlarge: 20px;
$font-size-large: 18px;
$font-size-med: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;

$space: 8px;

$breakpoint-narrow: 800px;
$breakpoint-laptop: 1200px;

$button-med-height: 36px;
$button-narrow-height: 28px;

// Z-indexes
// base background level
$z-bg: 0;

// active UI elements
$z-active-ui: 100;

// modal window and overlay
$z-modal: 500;

// dropdown menus. Needs to be higher than modal
// as menus can be in modals.
$z-menu: 600;

// flash messages
$z-flash: 700;

:root {
  --reach-tooltip: 1;
  --reach-dialog: 1;
  --reach-alert-dialog: 1;
  --reach-menu-button: 1;
  --reach-combobox: 1;
}

html {
  --color-white: #fff;

  // Color numbers (don't use in components)
  --color-gray-050: #fcfcf8;
  --color-gray-100: #f8f8f6;
  --color-gray-200: #f0f0ea;
  --color-gray-300: #ebebe1;
  --color-gray-400: #e4e4d4;
  --color-gray-500: #c3c3af;
  --color-gray-600: #939371;
  --color-gray-700: #5b5b45;
  --color-gray-800: #39392b;
  --color-gray-900: #13110e;

  --color-red-100: #ffe2d9;
  --color-red-300: #e27e5a;
  --color-red-500: #b82c00;
  --color-red-700: #8c2100;
  --color-red-900: #501300;

  --color-ochre-100: #fcf1dc;
  --color-ochre-300: #f0c064;
  --color-ochre-500: #d9940f;
  --color-ochre-700: #8d6113;
  --color-ochre-900: #4b3105;

  --color-green-100: #f4fbdd;
  --color-green-300: #bfe04c;
  --color-green-500: #93b228;
  --color-green-700: #6f8818;
  --color-green-900: #36420e;

  --color-purple-100: #f9edf9;
  --color-purple-300: #e5b5e5;
  --color-purple-500: #a848a8;
  --color-purple-700: #843884;
  --color-purple-900: #381838;

  --color-blue-100: #dfeef9;
  --color-blue-300: #77b9e3;
  --color-blue-500: #287bb2;
  --color-blue-700: #1d5a83;
  --color-blue-900: #052f4b;
}

body {
  // Semantic color names (use in components);
  --color-primary: var(--color-purple-500);
  --color-secondary: var(--color-ochre-500);

  --color-foreground: var(--color-gray-900);

  --color-invert-bg: var(--color-gray-800);
  --color-invert-foreground: var(--color-white);

  --color-disabled: var(--color-gray-300);
  --color-muted: var(--color-gray-600);
  --color-low-emphasis: var(--color-gray-700);

  --color-border: var(--color-gray-300);
  --color-border-med: var(--color-gray-400);

  --color-bg-low: var(--color-gray-100);
  --color-bg-low-hover: var(--color-gray-050);
  --color-bg: var(--color-white);

  --color-error-fg: var(--color-red-500);
  --color-success-fg: var(--color-green-500);

  --color-button-default-bg: var(--color-gray-200);
  --color-button-default-hover: var(--color-gray-300);

  --color-button-danger-bg: var(--color-red-500);
  --color-button-danger-hover: var(--color-red-700);

  --color-button-primary-bg: var(--color-purple-500);
  --color-button-primary-hover: var(--color-purple-700);
  --color-button-muted-hover: var(--color-gray-100);

  --color-input-focus-shadow: var(--color-blue-100);
  --color-input-focus-border: var(--color-blue-300);
  --color-menu-hover: var(--color-ochre-100);
  --color-menu-selected: var(--color-ochre-300);

  --color-toggle-bg: var(--color-gray-200);
  --color-toggle-bg-checked: var(--color-ochre-100);
  --color-toggle-checked: var(--color-ochre-300);


  --color-action-lock: var(--color-ochre-500);
  --color-action-edit: var(--color-ochre-700);
  --color-action-delete: var(--color-red-700);
  --color-action-complete: var(--color-green-700);

  --color-due-overdue: var(--color-red-500);
  --color-due-evening: var(--color-blue-500);
  --color-due-today: var(--color-purple-500);
  --color-due-tomorrow: var(--color-ochre-500);
  --color-due-week: var(--color-blue-700);
  --color-due-fortnight: var(--color-gray-500);
}
