$primary: #f8fafc;

$border-radius: 3px;
$border-radius-large: 6px;

$shadow-button: 0 1px 2px 0 rgba(18, 28, 45, 0.1);
$shadow-low: 0 2px 8px 0 rgba(18, 28, 45, 0.1);
$shadow-med: 0 4px 16px 0 rgba(18, 28, 45, 0.2);
$shadow-high: 0 16px 24px 0 rgba(18, 28, 45, 0.2);

$color-bg: #fefefe;
$color-bg-section: #f5f7fa;
$color-bg-raised: #fff;
$color-bg-shade: rgba(0,0,0, 0.1);
$color-border: #eee;
$color-border-med: #c3c3c3;

$color-dropper-active: rgba(0,0,0, 0.05);
$color-foreground: #212121;
$color-dim: #414141;
$color-muted: rgb(136, 145, 170);
$color-error: rgb(117, 12, 12);
$color-success: rgb(12, 117, 12);

$color-button-default-hover: rgba(0, 0, 0, 0.1);

$font-size-xlarge: 20px;
$font-size-large: 18px;
$font-size-med: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;

$space: 8px;

// Z-indexes
// base background level
$z-bg: 0;

// active UI elements popovers or menus.
$z-active-ui: 100;

// modal window and overlay
$z-modal: 500;

/* Color Theme Swatches in Hex */
/* Warm theme with a punchy red.
 * Will need dark grey and some tones added
$Autumn-(2019)-1-hex: #A6A4A5;
$Autumn-(2019)-2-hex: #D9AE5F;
$Autumn-(2019)-3-hex: #F2D6A2;
$Autumn-(2019)-4-hex: #BF0404;
$Autumn-(2019)-5-hex: #F2F2F2;
*/

/* Color Theme Swatches in Hex */
/* Good neutrals in 1, 2, black red and ochre together
 * Will need more tones added for borders and layering
$Gentle-Murder-1-hex: #EDEDC7;
$Gentle-Murder-2-hex: #BFBFA1;
$Gentle-Murder-3-hex: #14110E;
$Gentle-Murder-4-hex: #B82C00;
$Gentle-Murder-5-hex: #E3B62D;
*/
