.form-input-like,
select,
textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=email] {
  height: $button-med-height;
  padding: $space / 2 $space;
  color: var(--color-foreground);
  background: var(--color-bg);
  border-radius: $border-radius;
  border: 1px solid var(--color-border-med);
  outline: none;
  box-shadow: $shadow-inset;

  &:active,
  &:focus {
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow) 0 0 0 3px;
  }
}

input[type=checkbox],
input[type=radio] {
  outline: none;

  &:active,
  &:focus {
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow) 0 0 0 3px;
  }
}

label {
  margin-right: $space;
  min-width: 100px;
}

.form-error {
  color: var(--color-error-fg);
  margin-bottom: $space;
}

.form-input {
  display: flex;
  align-items: center;

  margin-bottom: $space * 2;

  label {
    margin-right: $space * 2;
    width: 33%;
  }
}

.form-input.narrow label {
  width: 100px;
}

.form-help {
  font-size: $font-size-small;
  color: var(--color-muted);
  margin: $space / 2 0 0 0;
}

.form-input-horizontal {
  margin-bottom: $space * 2;

  label {
    min-width: auto;
  }
}

// Inline forms used to do renaming.
// See buttons.scss for button bar styling.
.form-inline-rename {
  display: flex;
}

.smart-task-input {
  width: 100%;
}
