.heading-actions {
  display: flex;
  align-items: center;
  margin-bottom: $space;

  // Accomodate button sizes.
  min-height: 38px;

  button {
    margin-left: $space;
  }
}

.heading-logo {
  display: flex;
  align-items: center;
  img {
    margin-right: $space;
  }
}
