.heading-actions {
  display: flex;
  align-items: center;
  margin-bottom: $space;

  // Accomodate button sizes.
  min-height: 38px;

  button {
    margin-left: $space;
  }
}

.heading-icon {
  &.today svg {
    color: var(--color-due-today);
  }
  &.evening svg {
    color: var(--color-due-evening);
  }
  &.overdue svg {
    color: var(--color-due-overdue);
  }
}

.heading-logo {
  display: flex;
  align-items: center;
  img {
    margin-right: $space;
  }
}
