.layout-three-quarter {
  display: grid;
  grid-template-columns: 325px 1fr;
  height: 100%;

  .sidebar, .content {
    padding-top: $space * 5;
    padding-bottom: $space * 5;
  }

  .sidebar {
    padding-left: $space * 5;
    background: $color-bg-section;
  }

  .content {
    padding-right: $space * 5;
    padding-left: $space * 5;
  }
}


.layout-card-bg {
  background: $color-bg-section;
  width: 100%;
  height: 100%;
  padding-top: $space * 6;
}
.layout-card {
  background: $color-bg;
  border-radius: $border-radius-large;
  border: 1px solid $color-border;
  box-shadow: $shadow-low;
  padding: $space * 3;
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}
