.list-items {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    gap: $space;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    padding: $space 0;
    margin: 0;

    border-bottom: 1px solid var(--color-border-low);
  }

  li:last-child {
    border-bottom: none;
  }

  li.list-item-empty {
    border-bottom: 0;
    padding: $space * 2;
    justify-content: center;

    svg {
      color: var(--color-primary);
      margin-right: $space;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .list-items--small-vertical li {
    flex-direction: column;
    align-items: flex-start;
  }
}

.list-item-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space;
}

