// Used to give hover to editable regions.
.editable {
  border-radius: $border-radius;
  padding: calc($space / 4) calc($space / 2);
  margin-left: calc(($space / 2) * -1);

  &:hover {
    background: var(--color-disabled);
  }
}

// Placeholder text.
.placeholder {
  color: var(--color-muted);
}

// Counters displayed beside other content.
.counter {
  font-size: $font-size-normal;
  color: var(--color-muted);
  svg {
    margin-right: calc($space / 2);
  }
}
