// Page specific CSS for task add modal.
.dialog-task-add {
  position: fixed;
  top: 2vh;
  width: 65%;
  bottom: auto;
  padding: calc($space * 3) calc($space * 6);
  z-index: $z-modal;

  border-radius: $border-radius-large;
  border: none;
  box-shadow: var(--shadow-high);

  // need overflow for long content
  max-height: 96vh;
  overflow: visible;
}

.task-add-contents {
  // need scroll to constrain long contents
  max-height: 90vh;
  overflow: visible;
}

@media (max-width: $breakpoint-tablet) {
  .dialog-task-add {
    width: 85%;
  }
}

@media (max-width: $breakpoint-phone) {
  .dialog-task-add {
    top: calc($space * 2);
    width: 100%;
    padding: calc($space * 3);
  }
}
