.task-view {
  height: 100%;
  padding-left: $space * 2;

  .task-quickform,
  .task-subtasks,
  .task-notes {
    margin: 0 0 $space * 3;
  }
  .task-quickform {
    padding-top: 0;
  }

  .task-title-input {
    font-size: $font-size-med;
    font-weight: bold;
  }
  .task-header {
    display: flex;
    align-items: center;

    margin-bottom: calc($space * 3);
  }
}

@media (max-width: $breakpoint-phone) {
  .task-view {
    padding-left: $space;
    height: 120%;
  }
}

.task-view-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: $space * 3;

  h3 {
    margin: 0;
    color: var(--color-fg);
  }
  a {
    text-decoration: none;
  }

  // TODO remove this with react
  .title {
    display: flex;
    align-items: center;

    margin-bottom: $space;
  }

  .checkbox {
    margin-right: $space;
  }

  .attributes {
    display: flex;
    align-items: center;
    color: var(--color-low-emphasis);

    > * + * {
      margin-left: $space * 2;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .task-view .task-quickform {
    margin-right: 0;
    margin-bottom: $space * 3;
  }
}

.task-subtask-list {
  list-style: none;
  padding-left: 0;

  li {
    list-style: none;
    padding-left: 0;
    margin-bottom: $space;
  }
}

.task-subtask {
  display: flex;
  align-items: center;
  gap: $space;
}
