.task-view {
  height: 100%;
  padding-left: $space * 2;

  .task-quickform,
  .task-subtasks,
  .task-notes {
    margin: 0 0 $space * 3;
  }
}

@media (max-width: $breakpoint-phone) {
  .task-view {
    padding-left: $space;
    height: 120%;
  }
}

.task-view-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: $space * 3;

  h3 {
    margin-bottom: 0;
    color: var(--color-fg);
  }
  a {
    text-decoration: none;
  }

  .title {
    display: flex;
    align-items: center;

    margin-bottom: $space;
  }

  .checkbox {
    margin-right: $space;
  }

  .attributes {
    display: flex;
    align-items: center;
    color: var(--color-low-emphasis);

    > * + * {
      margin-left: $space * 2;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .task-view .task-quickform {
    margin-right: 0;
    margin-bottom: $space * 3;
  }
}
