.task-view {
  .summary {
    display: flex;
    align-items: flex-start;

    h3 {
      margin-bottom: $space;
      color: $color-foreground;
    }
    a {
      text-decoration: none;
    }
  }

  .completed {
    margin: 12px $space 0 0;
  }

  .due-on svg {
    margin-right: $space;
  }

  .attributes {
    display: flex;
    color: $color-dim;

    > * + * {
      margin-left: $space * 2;
    }
  }

  .task-subtasks,
  .task-notes {
    margin: $space * 2 0 0 $space * 2.5;
  }

}
