.combobox-wrapper {
  display: flex;
}
[data-reach-combobox-input] {
  @extend .form-input-like;
  min-width: 200px;
}

.combobox-arrow {
  position: relative;
  top: 9px;
  left: -26px;
  color: var(--color-muted);
}
[data-reach-combobox-input][aria-expanded="true"] + .combobox-arrow {
  color: var(--color-input-focus-border);
}

[data-reach-combobox-popover] {
  margin-top: $space / 2;
  width: max-content;
  z-index: $z-menu;

  background: var(--color-bg);
  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;
  outline: none;
  overflow: hidden;
  box-shadow: $shadow-med;
}
[data-reach-combobox-list] {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}
.combobox-empty,
[data-reach-combobox-option] {
  cursor: pointer;
  padding: $space;

  &[data-current] {
    background: var(--color-menu-selected);
  }

  &:hover,
  &:focus,
  &[data-highlighted] {
    background: var(--color-menu-hover);
  }

  &[data-disabled] {
    color: var(--color-muted);
  }
}
.combobox-empty {
  cursor: default;
  color: var(--color-muted);
}
