.calendar-item-list {
  padding: $space;
  background: var(--color-bg-low);
  border-radius: $border-radius;
  margin-bottom: $space * 1.5;
}

.calendar-item {
  margin-bottom: $space;

  &:last-child {
    margin-bottom: 0;
  }

  &.all-day {
    // TODO this should use the calendar color.
    border-left: 4px solid var(--color-primary);
    padding-left: $space / 2;
  }

  time{
    color: var(--color-primary);
    margin-right: $space / 2;
  }
}
