.calendar-item-list {
  padding: $space;
  background: var(--color-bg-level1);
  border-radius: $border-radius;
  margin-bottom: $space * 1.5;
}

.calendar-item {
  margin-bottom: $space;

  &:last-child {
    margin-bottom: 0;
  }

  &.all-day {
    border-left: 4px solid var(--calendar-color);
    padding-left: $space / 2;
  }

  time{
    color: var(--calendar-color);
    font-weight: 500;
    margin-right: $space / 2;
  }
}
