.modal-overlay,
.confirm-overlay {
  background: var(--color-modal-overlay);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: $z-modal;
}

.confirm-dialog {
  position: fixed;
  top: 80px;
  left: 25%;
  right: 25%;
  bottom: auto;
  padding-top: 20px;
  z-index: $z-modal;

  border-radius: $border-radius-large;
  border: none;
  box-shadow: var(--shadow-high);
}


.confirm-dialog h2 {
  font-size: $font-size-large;
  font-weight: bold;
  margin: 0 0 $space * 2 0;
}
.confirm-dialog p {
  margin-bottom: $space;
}

