.dnd-item {
  display: flex;
  align-items: center;
}

.dnd-handle {
  @extend .button;

  background: transparent;
  box-shadow: none;
  cursor: grab;
  height: 30px;
  width: 30px;
  margin-right: $space / 2;
  line-height: 1;
  border: none;
  padding: 3px;
  visibility: hidden;

  &:hover {
    color: var(--color-primary);
    background: transparent;
    box-shadow: none;
  }
}

.dnd-item-dragging {
  box-shadow: $shadow-med;
  background: var(--color-bg);

  .dnd-handle {
    visibility: visible;
  }
}

.dnd-dropper-active {
  background: var(--color-bg-low);
}

.dnd-dropper-left-offset {
  .dnd-item {
    margin-left: -34px;
  }
  padding-left: 0;
}

.dnd-item:hover .dnd-handle {
  visibility: visible;
}
