.dnd-item {
  display: flex;
  align-items: center;
}

.dnd-handle {
  @extend .button-default;

  box-shadow: none;
  cursor: grab;
  height: 30px;
  width: 30px;
  margin-right: $space / 2;
  line-height: 1;
  border: none;
  padding: 3px;
  visibility: hidden;
}

.dnd-item-dragging {
  box-shadow: $shadow-med;
  background: $color-bg;

  .dnd-handle {
    visibility: visible;
  }
}

.dnd-dropper-left-offset {
  margin-left: -34px;
  padding-left: 0;
}

.dnd-item:hover .dnd-handle {
  visibility: visible;
}
