.drag-ghost {
  @extend .box-shadow-med;

  background: #fff;
  display: flex;
  position: absolute;
  padding: 6px;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  width: max-content;
  cursor: grabbing;

  li {
    list-style: none;
    margin-bottom: 0;
  }
}

.drag-placeholder {
  border: 2px dashed $color-border;
  border-radius: $border-radius;
}

.drag-handle {
  @extend .button-default;
  display: none;

  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
  line-height: 1;
  border: none;
  padding: 5px;
}

.drag-item {
  display: flex;
  align-items: center;

  &:hover .drag-handle {
    display: block;
  }
}

