.drag-placeholder {
  border: 2px dashed $color-border;
  border-radius: $border-radius;
}

.drag-handle {
  @extend .button-default;

  cursor: grab;
  height: 30px;
  width: 30px;
  margin-right: $space / 2;
  line-height: 1;
  border: none;
  padding: 5px;
}

.drag-item {
  display: flex;
  align-items: center;
}

.drag-ghost {
  display: flex;
  align-items: center;

  background: #fff;
  cursor: move;

  position: absolute;
  padding: $space / 2;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  box-shadow: $shadow-high;
  width: max-content;

  li {
    list-style: none;
    margin-bottom: 0;
  }

  .drag-handle {
    background: $color-button-default-hover;
    cursor: move;
  }
}

.drag-container-left-offset {
  margin-left: -30px;

  .drag-handle {
    visibility: hidden;
  }
  &:hover .drag-handle {
    visibility: visible;
  }
}
