.dropdown-menu {
  display: flex;
  align-items: center;
  position: relative;

  .hitbox {
    position: absolute;
    top: 0px;
    z-index: $z-active-ui;
    padding: 40px 0 0 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    list-style: none;
  }

  ul li:last-child {
    margin-bottom: 0;
  }

  > .button-icon {
    // Stack buttons higher than the hitbox so that
    // adjacent buttons with dropdowns can be clicked.
    z-index: $z-active-ui + 1;
  }

  > [data-active=true] {
    // Tweak the active button backdown.
    z-index: $z-active-ui;
  }

  .dropdown {
    position: relative;
    background: $color-bg-raised;
    border: 1px solid $color-border-med;
    border-radius: $border-radius;
    box-shadow: $shadow-med;
    width: max-content;
    z-index: $z-active-ui + 2;

    &:after,
    &:before {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $color-bg-raised;
      border-width: 10px;
    }

    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $color-border-med;
      border-width: 11px;
    }
  }

  .context-item-text,
  .context-item {
    display: flex;
    align-items: center;
    flex-grow: 1;

    background: none;
    border: none;
    color: $color-foreground;

    border-radius: 0;
    box-shadow: none;
    padding: $space $space * 1.5;
    text-align: left;
    height: auto;

    line-height: 1.3;
    text-decoration: none;
  }

  .separator {
    border-bottom: 1px solid $color-border;
  }

  .context-item {
    &:active,
    &:hover {
      background: $color-button-default-hover;
    }
  }
}

.dropdown-menu[data-align="left"] {
  // use a block of padding to make the angular
  // hit box bigger enabling context menus to be placed
  // in hover based UX
  .hitbox {
    left: -20px;
  }

  .dropdown:after {
    left: 25px;
    border-width: 10px;
  }

  .dropdown:before {
    left: 24px;
  }
}

.dropdown-menu[data-align="right"] {
  // use a block of padding to make the angular
  // hit box bigger enabling context menus to be placed
  // in hover based UX
  .hitbox {
    right: -11px;
  }

  .dropdown:after {
    right: 15px;
    border-width: 10px;
  }

  .dropdown:before {
    right: 14px;
  }
}


