#dropdown-portal {
  position: absolute;
}

[data-reach-menu-button] {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &[aria-expanded="true"] {
    // Tweak the active button backdown.
    z-index: $z-active-ui;
  }
}

drop-down-menu {
  position: absolute;
  display: none;
}

#drop-down-portal,
[data-reach-menu-list] {
  width: max-content;
  position: relative;
  z-index: $z-menu;

  background: var(--color-bg);
  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;
  box-shadow: var(--shadow-med);

  .separator {
    margin: 0;
    border-bottom: 1px solid var(--color-border);
  }
}

.dropdown-item-text,
[data-reach-menu-item] {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;

  background: none;
  border: none;
  color: var(--color-fg);

  color: var(--color-foreground);
  border-radius: 0;
  box-shadow: none;
  padding: $space calc($space * 1.5);
  text-align: left;
  height: auto;

  line-height: 1.3;
  text-decoration: none;


  &:visited,
  &:focus,
  &:hover {
    color: var(--color-fg);
  }
}

.dropdown-item-header {
  line-height: 1.2;

  padding: $space calc($space * 1.5);
  margin: 0;
}

[data-reach-menu-item] {
  &[data-selected],
  &:hover {
    background: var(--color-menu-hover);
  }


  & svg {
    margin-right: $space;
  }

  // Action specific styles
  &.delete svg,
  &.delete:hover {
    color: var(--color-action-delete);
  }
  &.archive svg {
    color: var(--color-low-emphasis);
  }
  &.calendar svg {
    color: var(--color-due-today);
  }
  &.edit svg {
    color: var(--color-action-edit);
  }
  &.lock svg {
    color: var(--color-action-lock);
  }
  &.complete svg {
    color: var(--color-action-complete);
  }
}
