[data-reach-menu-button] {
  display: flex;
  align-items: center;

  &[aria-expanded="true"] {
    // Tweak the active button backdown.
    z-index: $z-active-ui;
  }
}
[data-reach-menu-list] {
  width: max-content;
  position: relative;
  z-index: $z-menu;

  background: var(--color-bg);
  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;
  box-shadow: $shadow-med;


  .separator {
    margin: $space / 2;
    border-bottom: 1px solid var(--color-border);
  }
}

.dropdown-item-text,
[data-reach-menu-item] {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;

  background: none;
  border: none;
  color: var(--color-foreground);

  border-radius: 0;
  box-shadow: none;
  padding: $space $space * 1.5;
  text-align: left;
  height: auto;

  line-height: 1.3;
  text-decoration: none;
}

[data-reach-menu-item] {
  &[data-selected],
  &:hover {
    background: var(--color-menu-hover);
  }


  & svg {
    margin-right: $space;
  }

  // Action specific styles
  &.delete svg,
  &.delete:hover {
    color: var(--color-action-delete);
  }
  &.archive svg {
    color: var(--color-low-emphasis);
  }
  &.edit svg {
    color: var(--color-action-edit);
  }
  &.lock svg {
    color: var(--color-action-lock);
  }
  &.complete svg {
    color: var(--color-action-complete);
  }
}
