.due-on-menu {
  .menu-option {
    display: flex;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding: $space $space * 1.5;

    &:hover {
      box-shadow: none;
    }
  }

  input[type="text"] {
    padding: $space;
    border: none;
  }

  .DayPicker {
    padding: 0 $space;
  }
  .DayPicker-NavButton {
    right: $space;
  }
}

.due-on-picker .dropdown-menu .hitbox {
  // Fiddle with positioning so arrow
  // is aligned with icon.
  left: -15px;
}
