.due-on-menu {
  padding-bottom: $space;

  svg {
    margin-right: calc($space / 2);
  }

  input[type="text"] {
    padding: $space;
  }

  .DayPicker {
    padding: 0 $space;
  }
  .DayPicker-NavButton {
    right: $space;
  }
}
