@use "../variables";

.feed-item {
  h2 {
    font-size: variables.$font-size-large;
    margin-bottom: variables.$space;
  }
  h2 a {
    text-decoration: none;
    color: var(--color-fg);
    &:hover {
      text-decoration: underline;
    }
  }

  margin-bottom: calc(variables.$space * 3);
}

.feed-item-byline {
  font-size: variables.$font-size-small;
  color: var(--color-muted);
  margin-bottom: calc(variables.$space * 2);
}
.feed-item-byline a {
  color: var(--color-muted);
  &:hover {
    color: var(--color-low-emphasis);
  }
}
.feed-item-summary {
  color: var(--color-feed-content);
  margin-bottom: variables.$space;

  h2, h3, h4, h5, h6 {
    color: var(--color-feed-content);
    font-weight: normal;
  }
}

.feed-item-read {
  p, h2 {
    opacity: 75%
  }
}

.feed-item-summary,
.feed-item-body {
  // Styles for the body of a feed item
  img {
    max-width: 100%;
  }
  hr {
    border: 0;
    border-bottom: 2px solid var(--color-level1);
  }
  p {
    line-height: 1.3rem;
  }
  blockquote {
    background: var(--color-bg-low);
    margin: variables.$space calc(variables.$space * 2);
    padding: variables.$space;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
