.feed-item {
  h2 {
    font-size: $font-size-large;
    margin-bottom: $space;
  }
  h2 a {
    text-decoration: none;
    color: var(--color-gray-800);
    &:hover {
      text-decoration: underline;
    }
  }

  margin-bottom: calc($space * 3);
}

.feed-item-byline {
  font-size: $font-size-small;
  color: var(--color-gray-500);
  margin-bottom: $space;
}
.feed-item-byline a {
  color: var(--color-gray-500);
}
.feed-item-summary {
  color: var(--color-gray-800);
  margin-bottom: $space;
  padding-top: $space;

  h2, h3, h4, h5, h6 {
    color: var(--color-gray-600);
    font-weight: normal;
  }
}

.feed-item-read {
  p, h2 {
    opacity: 75%
  }
}

.feed-item-summary,
.feed-item-body {
  // Styles for the body of a feed item
  img {
    max-width: 100%;
  }
  hr {
    border: 0;
    border-bottom: 2px solid var(--color-level1);
  }
  p {
    line-height: 1.3rem;
  }
  blockquote {
    background: var(--color-bg-low);
    margin: $space calc($space * 2);
    padding: $space;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
