.flash-message {
  position: fixed;
  left: 50%;
  top: 16px;
  width: max-content;
  transform: translateX(-50%);

  padding: $space * 2;
  background: var(--color-bg);
  box-shadow: var(--shadow-med);
  border-radius: $border-radius;
  z-index: $z-flash;

  svg {
    margin-right: $space;
    vertical-align: -0.225em;
  }

  transition: top 0.3s, opacity 0.3s;

  &[data-state="visible"] {
    top: 16px;
  }
  &[data-state="hidden"] {
    top: -60px;
    opacity: 0;
  }
}

.flash-success svg {
  color: var(--color-success-fg);
}
.flash-error svg {
  color: var(--color-error-fg);
}

