.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: calc($space * 3);

  h1, h2, h3, h4 {
    margin: 0;
  }
}

.modal-close {
  @extend .button-bare;

  display: flex;
  justify-content: center;
  position: relative;
  top: -16px;
  right: -16px;

  border: none;
  border-radius: 50%;
  font-size: $font-size-large;
  line-height: $font-size-large;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 0;
  box-shadow: none;
}

.modal-sheet {
  width: 75%;
  max-width: 850px;
  min-height: 80%;
}
.modal-sheet.feed-subscriptions-edit {
  max-width: 600px;
  min-height: auto;
}
@media (max-width: $breakpoint-phone) {
  .modal-sheet {
    height: 95%;
    width: 95%;
  }
}

.modal-contents {
  height: 100%;
  overflow: auto;
}
