.profile-menu {
  margin-bottom: $space * 3;

  .avatar,
  .avatar:hover {
    height: 50px;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }

  img {
    border-radius: 50%;
    border: 2px solid transparent;
  }
  .avatar:hover img {
    border-color: var(--color-secondary);
  }

  .dropdown-menu .dropdown {
    top: 60px;
    left: -2px;
  }
}
