.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  padding-right: $space / 2;

  [data-reach-menu-button] {
    visibility: hidden;
  }
  &:hover [data-reach-menu-button],
  [data-reach-menu-button][aria-expanded="true"] {
    visibility: visible;
  }

  &:hover {
    background: var(--color-bg-low-hover);
  }

  .project-badge {
    height: 40px;
  }

  a {
    display: flex;
    align-items: center;
    flex-grow: 1;

    color: var(--color-foreground);
    text-decoration: none;
  }

  .counter {
    margin-left: $space;
  }
}

.drag-ghost .project-item {
    width: 200px;
}
