.project-filter {
  > ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: $space * 2;
  }

  .links li {
    height: 30px;
  }
}

.project-filter .project-item {
  width: 80%;
}
