.project-item {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: max-content;
  padding-right: $space / 2;

  .context-menu {
    visibility: hidden;
  }

  &:hover {
    background: $color-bg;
  }

  &:hover .context-menu {
    visibility: visible;
  }

  .project-badge {
    height: 40px;
  }

  a {
    flex-grow: 1;
    color: $color-foreground;
    text-decoration: none;
  }
}

.drag-ghost .project-item {
    width: 200px;
}
