.project-item {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: max-content;

  .context-menu {
    display: none;
    margin-left: $space * 2;
  }
  &:hover .context-menu {
    display: block;
  }

  .project-badge {
    height: 40px;
  }
}

.drag-ghost .project-item {
    width: 200px;
}
