.select__control {
  min-width: 200px;
  max-width: 400px;
}
.select__control.select__control--is-focused {
  border-color: var(--color-input-focus-border);
  box-shadow: var(--color-input-focus-shadow) 0 0 0 3px;
}
.select__input input {
  height: auto;
}
.select__menu .is-focused {
  background: var(--color-menu-hover);
}
.select__menu .is-selected {
  background: var(--color-menu-selected);
  color: var(--color-foreground);
}
.select__input input:active,
.select__input input:focus {
  box-shadow: none;
}

// Components inside select controls
.select__menu .color,
.select__control .color {
  display: flex;
  align-items: center;

  svg {
    position: relative;
    top: 1px;
  }
}
