select-box {
  display: block;
  min-width: 200px;
  background: var(--color-bg);
  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;

  // We don't have any multi-line select boxes so forcing the height is ok
  min-height: auto;
  box-shadow: var(--shadow-inset);

  &:hover {
    border-color:var(--color-border-med);
  }

}

select-box-current {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  cursor: pointer;

  input[type="text"] {
    display: none;
    border: none;
    box-shadow: none;
    min-width: auto;
    width: auto;

    &:focus {
      box-shadow: none;
    }
  }

  .select-box-value {
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: calc($space);
  }

  &::after {
    // downwards chevron
    content: '\002304';
    font-size: 1.5em;
    display: block;
    position: relative;
    top: -8px;
    left: -8px;
  }

  &[open="true"] input {
    display: block;
  }
  &[open="true"] .select-box-value {
    display: none;
  }
}

select-box-menu {
  display: none;
  position: absolute;
  margin-top: calc($space / 2);
  min-width: 200px;
  max-height: 400px;
  overflow: auto;

  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;
  box-shadow: var(--shadow-med);
  background: var(--color-bg);
  z-index: $z-menu;
}

select-box-option {
  display: flex;
  align-items: center;
  gap: calc($space / 2);

  width: 100%;
  height: 36px;
  padding: calc($space / 2) $space;
  cursor: pointer;

  &[aria-current="true"],
  &:hover {
    background: var(--color-menu-hover);
  }

  &[aria-selected="true"] {
    background: var(--color-menu-selected);
  }
}
