.select__control {
  .select__input input {
    height: auto;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }
  &.select__control--is-focused {
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow) 0 0 0 3px;
  }
}
.select__value-container > div {
  display: flex;
  align-items: center;
}

div.select__menu {
  border: 1px solid var(--color-border-med);
  box-shadow: var(--shadow-med);
}

.select__menu-list {
  // Option elements
  & > div {
    height: 30px;
    display: flex;
    align-items: center;
    padding: $space / 2;
  }
  .is-focused {
    background: var(--color-menu-hover);
  }
  .is-selected {
    background: var(--color-menu-selected);
  }
}
