// Two kinds of selects.
//
// One flexes out to the container, and has a min-width of 200px (.select__control )
// The other is 90px wide and is meant for colour values (.select-narrow__control)
div.select-narrow__control,
div.select__control {
  min-width: 200px;
  background: var(--color-bg);
  border-color: var(--color-border-med);

  // We don't have any multi-line select boxes so forcing the height is ok
  height: 36px;
  min-height: auto;
  box-shadow: var(--shadow-inset);

  &:hover {
    border-color:var(--color-border-med);
  }

  .select-narrow__input input,
  .select__input input {
    height: auto;
    width: auto;
    min-width: auto;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }
  &.select-narrow__control--is-focused,
  &.select__control--is-focused {
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow) 0 0 0 3px;
  }
}
div.select-narrow__control {
  min-width: auto;
  width: 80px;
}
div.select-narrow__value-container,
div.select__value-container {
  padding: calc($space / 4) calc($space / 4) calc($space / 4) $space;
}

.select-narrow__value-container > div,
.select__value-container > div {
  display: flex;
  align-items: center;
  line-height: 1.3;
  color: var(--color-fg);
}
@media (max-width: $breakpoint-phone) {
  div.select-narrow__control {
    min-width: 75px;
  }
  div.select__control {
    min-width: 150px;
  }
}

div.select-narrow__menu,
div.select__menu {
  border: 1px solid var(--color-border-med);
  box-shadow: var(--shadow-med);
  background: var(--color-bg);
}
div.select__menu-portal {
  z-index: $z-menu;
}

.select-narrow__menu-list,
.select__menu-list {
  // Option elements
  & > div {
    height: 34px;
    display: flex;
    align-items: center;
    padding: $space;
  }

  .select-narrow__option--is-focused,
  .select__option--is-focused,
  .is-focused {
    background: var(--color-menu-hover);
  }

  .select-narrow__option--is-selected,
  .select__option--is-selected,
  .is-selected {
    background: var(--color-menu-selected);
  }
}
