.smart-task-input {
  height: $button-med-height;
}
.smart-task-input__control {
  .date-mention,
  .project-mention {
    position: relative;
    left: $space / 4 * -1;
    padding: $space / 2 $space / 4;

    background: var(--color-menu-selected);
  }
}

.smart-task-input__highlighter {
  height: $button-med-height;
  padding: $space / 4 $space;
  line-height: 2;
}
.smart-task-input__suggestions {
  border: 1px solid var(--color-border-med);
  box-shadow: var(--shadow-med);
}
.smart-task-input__suggestions__list {
  background: var(--color-bg);
}
.smart-task-input__suggestions__item {
    height: 34px;
    padding: $space;
}
.smart-task-input__suggestions__item--focused {
  background: var(--color-menu-hover);
}
.smart-task-input__suggestions__item__highlight {
  color: var(--color-button-primary-bg);
}
