.task-row {
  position: relative;
  display: flex;
  min-width: 400px;
  width: 100%;

  align-items: flex-start;
  padding-top: $space;
  padding-bottom: $space;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-bg);

  > input[type="checkbox"] {
    margin: 1px $space 0 0;
  }

  > a {
    text-decoration: none;
    flex-grow: 1;
  }

  .title {
    color: var(--color-foreground);
    display: block;
  }

  .attributes {
    display: flex;

    font-size: $font-size-normal;
    color: var(--color-low-emphasis);
    margin-top: $space * 0.75;

    > * + * {
      margin-left: $space * 2;
    }
  }

  &.is-completed .title {
    color: var(--color-muted);
    text-decoration: line-through;
  }

  .actions {
    display: none;
    position: absolute;
    top: $space * 0.75;
    right: 0;

    background: var(--color-bg);
    border-radius: $border-radius;
  }
  .actions > * + * {
    margin-left: $space;
  }
  &[data-active=true] .actions,
  &:hover .actions {
    display: flex;
    align-items: center;
  }
}

.dnd-item-dragging .task-row {
  padding-left: 4px;
  border-bottom: 0;
  margin-bottom: 0;
}
