.task-row {
  display: flex;
  min-width: 400px;
  width: 100%;

  align-items: flex-start;
  padding-top: $space;
  padding-bottom: $space;
  border-bottom: 1px solid $color-border;

  > input[type="checkbox"] {
    margin: 3px $space 0 0;
  }

  > a {
    text-decoration: none;
    flex-grow: 1;
  }

  .title {
    color: $color-foreground;
    display: block;
  }

  .attributes {
    display: flex;

    font-size: $font-size-small;
    color: $color-dim;
    margin-top: $space * 0.75;

    > * + * {
      margin-left: $space * 2;
    }
  }

  .due-on svg {
    margin-right: $space;
  }

  &.is-completed .title {
    color: $color-dim;
    text-decoration: line-through;
  }
}

.dnd-item-dragging .task-row {
  padding-left: 4px;
  border-bottom: 0;
  margin-bottom: 0;
}

.drag-ghost .task-row {
  border-bottom: 0;
  margin-bottom: 0;
}
