.task-notes {
  display: flex;
  flex-direction: column;
  font-size: $font-size-med;
  line-height: 1.5;

  textarea {
    font-size: $font-size-med;
    line-height: 1.5;
    height: max-content;
    flex-grow: 1;
  }
}
