// These styles are also used for the edit form
.task-quickform {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border-med);
  border-radius: $border-radius;
  box-shadow: $shadow-low;
  padding: $space;

  input, select {
    margin-bottom: 0;
  }
  label {
    font-size: $font-size-normal;
    margin-bottom: $space / 2;
  }

  .attributes {
    display: flex;

    > * + * {
      margin-left: $space * 2;
    }
  }

  .title {
    display: flex;
  }
  .title input {
    flex-grow: 1;
  }
  .button-bar {
    padding-top: $space;
    border-top: 1px solid var(--color-border);
  }

  > * + * {
    margin-top: $space;
  }
}

