.task-subtasks {
  h3 svg {
    color: var(--color-muted);
  }

  .add-subtask {
    margin-top: $space;
  }
  .subtask-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-height: 30px;
    margin-bottom: $space / 2;

    input[type=checkbox] {
      margin-right: $space;
    }

    &.is-completed .title {
      color: var(--color-muted);
      text-decoration: line-through;
    }
  }

  .dnd-item {
    background: var(--color-bg);
  }
}

.task-subtasks.is-new {
  margin-top: $space * 3;
}

.subtask-sorter {
  padding: 0;
  margin-left: -12px;
}
.subtask-addform {
  margin-left: ($space * 3) - 2;
  display: grid;
  grid-template-columns: max(20%, 200px) min-content;
  gap: $space;
}
