.task-group .add-task {
  margin-top: $space;
}
.task-group .dnd-item:last-child .task-row {
  border-bottom: 0;
}

.task-group + .heading-icon,
.task-group + .heading-task-group {
  margin-top: calc($space * 5);
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-icon {
    background: var(--color-bg-low);
    border-radius: 50%;
    padding: calc($space * 3);

    color: var(--color-success-fg);
  }
}
