.task-row {
  display: flex;
  min-width: 400px;
  width: 100%;

  align-items: flex-start;
  padding-top: $space;
  padding-bottom: $space;
  border-bottom: 1px solid $color-border;

  > input[type="checkbox"] {
    margin: $space * 0.75 $space 0 0;
  }

  .title {
    color: $color-foreground;
    display: block;
  }

  .attributes {
    display: grid;
    gap: $space;
    grid-auto-flow: column;

    font-size: $font-size-small;
  }

  .summary {
    width: 100%;
  }

  .due-on svg {
    margin-right: $space;
  }
}

.dnd-item-dragging .task-row {
  padding-left: 4px;
  border-bottom: 0;
  margin-bottom: 0;
}

.drag-ghost .task-row {
  border-bottom: 0;
  margin-bottom: 0;
}
