.task-group .add-task {
  margin-top: $space;
}
.task-group .dnd-item:last-child .task-row {
  border-bottom: 0;
}

.task-group + .heading-icon,
.task-group + .heading-task-group {
  margin-top: calc($space * 5);
}
