// These styles are also used for the edit form
.task-quickform {
  display: flex;
  flex-direction: column;

  border-radius: $border-radius;
  padding-top: $space;

  input, select {
    margin-bottom: 0;
  }
  label {
    font-size: $font-size-normal;
    margin-bottom: $space / 2;
  }

  .attributes {
    display: flex;

    > * + * {
      margin-left: $space;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
  }
  .title input {
    flex-grow: 1;
  }
  .due-on-picker .opener {
    border-color: var(--color-border-med);
  }

  .evening {
    display: flex;
    align-items: center;

    label {
      min-width: auto;
      margin: 0 0 0 $space;
    }
  }

  > * + * {
    margin-top: $space;
  }

  .task-body {
    margin-top: $space;
  }
  .task-body textarea {
    margin-top: $space / 2;
    width: 100%;
  }
}

// Global task create.
.modal-float .task-quickform {
  border: none;
  border-radius: 0;
  padding: $space 0;
}
