.todoitem-row {
  display: flex;
  min-width: 400px;
  width: 100%;

  align-items: flex-start;
  padding-top: $space * 4;
  padding-bottom: $space * 4;
  border-bottom: 1px solid $color-border;

  > input[type="checkbox"] {
    margin: $space * 3 $space * 4 0 0;
  }

  .title {
    color: $color-foreground;
    display: block;
  }

  .attributes {
    display: grid;
    gap: $space * 5;
    grid-auto-flow: column;
  }
}

.drag-ghost .todoitem-row {
  border-bottom: 0;
  margin-bottom: 0;
}
