// These styles are also used for the edit form
.todoitem-add {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 50px;
  gap: $space;
  width: 100%;

  border: 1px solid $color-border-med;
  border-radius: $border-radius;
  box-shadow: $shadow-low;
  padding: $space;

  input, select {
    margin-bottom: 0;
  }
  label {
    font-size: $font-size-small;
    margin-bottom: $space / 2;
  }

  .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .project {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .due-on {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .button-bar {
    padding-top: $space;
    border-top: 1px solid $color-border;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

