[data-reach-tooltip] {
  background: var(--color-invert-bg);
  color: var(--color-invert-fg);
  border-radius: $border-radius;
  padding: calc($space / 2) $space;

  z-index: $z-modal;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}
