-
    request:
        method: POST
        url: 'https://www.googleapis.com/calendar/v3/calendars/calendar-1/events/watch'
        headers:
            content-type: application/json
        body: >
          {
            "address": "http:\/\/localhost\/google\/calendar\/notifications",
            "id": "dd9935b9-41c9-45b1-988f-992d1a57d032",
            "token": "verifier=581c0fb8-902d-4f67-9de3-08bb52557ca9",
            "type": "web_hook"
          }
    response:
        status:
            code: '400'
            message: Error
        headers:
            Content-Type: 'application/json; charset=UTF-8'
        body: >
          {
            "error": {
              "code": 400,
              "message": "The calendar is invalid",
              "errors": [
                {"domain": "calendar", "reason": "invalid", "message": "Not good"}
              ]
            }
          }
