-
    request:
        method: GET
        url: 'https://www.googleapis.com/oauth2/v2/userinfo'
        headers:
            Content-Type: application/json
            Authorization: 'Bearer goog-access-token'
    response:
        status:
            code: '400'
            message: 'Ok'
        headers:
            Content-Type: 'application/json; charset=utf-8'
        body: >
          {
            "error": {
              "code": 400,
              "message": "Invalid access token",
              "errors": [
                {"domain": "calendar", "reason": "invalid", "message": "Not good"}
              ]
            }
          }
