-
    request:
        method: POST
        url: 'https://oauth2.googleapis.com/token'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'grant_type=authorization_code&code=auth-code&redirect_uri=http%3A%2F%2Flocalhost%2Fauth%2Fgoogle%2Fcallback&client_id=430352593320-v29mg03j79rc4gl8ugfuv70q41e5hsli.apps.googleusercontent.com&client_secret=DO4xNdnxrxy1TBpdg343tmJr'
    response:
        status:
            code: '200'
            message: 'Ok'
        headers:
            Content-Type: 'application/json; charset=utf-8'
        body: >
          {
            "access_token": "goog-access-token",
            "expires_in": 3600
          }

-
    request:
        method: GET
        url: 'https://www.googleapis.com/oauth2/v2/userinfo'
        headers:
            Content-Type: application/json
            Authorization: 'Bearer goog-access-token'
    response:
        status:
            code: '200'
            message: 'Ok'
        headers:
            Content-Type: 'application/json; charset=utf-8'
        body: >
          {
            "id": "goog-id",
            "name": "George Goggles",
            "email": "goog@example.com"
          }

