.project-view .heading-actions {
  &[data-archived="true"] {
    color: var(--color-muted);
  }

  h1 {
    display: flex;
    align-items: center;

    margin-bottom: 0;
  }
}

// Completed task list
.project-view .task-list {
  margin-top: $space * 5;
}
