// TODO has this split style heading become used
// enough to be its own component?
.project-view > .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space * 2;

  &[data-archived="true"] {
    color: var(--color-muted);
  }

  h1 {
    display: flex;
    align-items: center;

    margin-bottom: 0;
  }
}
