.todoitems-view {
  .summary {
    display: flex;
    align-items: flex-start;

    h3 {
      margin-bottom: $space;
    }
  }

  .completed {
    margin: 12px $space 0 0;
  }

  .attributes {
    display: grid;
    gap: $space;
    grid-auto-flow: column;
  }

  .todoitem-subtasks,
  .todoitem-notes {
    margin: $space * 2 0 0 $space * 2.5;
  }

}
